body {
    padding: 0;
    margin: 0;
    font-family: '微软雅黑';
}

a{
    text-decoration: none;
    pointer-events: auto;
    z-index:999;
    color:rgb(78, 184, 219);
    width:150px;
}

.title{
    position: relative;
    top:8px;
    right:3px;
    font-family: '汉仪丫丫体简';
    font-weight:bold;
    background:transparent;
}
.sidebar {
    width: 300px;
    ;
    float: left;
    position: fixed;
    height: 100%;
    background-color: transparent;
    border-right: solid white 4px;
}

.up {
    height: 30%;
    background: url(bg3.jpg);
    border-bottom: white solid 4px;
    z-index: -1;
}

.down {
    height: 70%;
    background: url(简约背景1.jpg);
    z-index: -1;
}

.circle {
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 85%;
    margin: 0 auto;
    background: url(头像.jpg) center;
    background-size: 150px;
    border-radius: 50%;
    z-index: 998;
    border: white solid 4px;
}

.name {
    width: 130px;
    height: 30px;
    background-color: transparent;
    position: relative;
    margin: 0 auto;
    bottom: 85%;
    z-index: 999;
    text-align: center;
    font-size: 30px;
    pointer-events: auto;
}

.menu {
    width: 150px;
    z-index: 999;
    position: relative;
    bottom:80%;
    margin:0 auto;
    margin-top:4px;
    font-size:20px;
    text-align: center;
}

.content {
    background: url(简约背景1.jpg);
    margin-left: 303px;
    text-align: center;
    min-height:1000px;
    animation: appear 4s;
    font-family: '汉仪丫丫体简';
}



.object{
    height:48px;
    width:24.5%;
    float:left;
    /* background:red; */


    background-size: 70%;
    border-right:solid transparent 4px;
    border-bottom:solid transparent 4px;
    font-size:25px;
    transition:3s;
    /* overflow:hidden;
    text-overflow: ellipsis; */

}

.line{
    width:100%;
    height:100px;
    position: relative;
    bottom:15px;
    left:38px;
    background:url(爱心.png) no-repeat;
    background-size:65%;
    opacity: 0.5;
}

.click{
    margin:0 auto;
    position: relative;
    bottom:60px;
    height:20px;
    width:100px;
    background: transparent;
    cursor:pointer;
    font-size:20px;
}
.block{
    height:500px;
    width:100%;
    background: transparent;
    position: relative;
    bottom:50px;
    left:10px;
    animation: appear 2s;
    display:none;
}
a:visited{
    color:rgb(78, 184, 219);
}

a:hover{
    opacity: 0.9;
    color:red;
}

.menu:hover{
    background:url(椭圆.png) no-repeat center;
    background-size:150px;
    opacity: 0.5;
}

#目录1{
    background:url(椭圆.png) no-repeat center;
    background-size:150px;
}

#凯慧{
    width:85%;
}

#市东{
    width:50%;
}
/* .object:hover{
    height:500px;
} */

#上外贸{
    width:50%;
}
@keyframes appear{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}