body {
    padding: 0;
    margin: 0;
    font-family: '微软雅黑';
}

a{
    text-decoration: none;
    pointer-events: auto;
    z-index:999;
    color:rgb(78, 184, 219);
    width:150px;
}

.title{
    position: relative;
    top:8px;
    right:3px;
}
.sidebar {
    width: 300px;
    ;
    float: left;
    position: fixed;
    height: 100%;
    background-color: transparent;
    border-right: solid white 4px;
}

.up {
    height: 30%;
    background: url(bg3.jpg);
    border-bottom: white solid 4px;
    z-index: -1;
}

.down {
    height: 70%;
    background: url(简约背景1.jpg);
    z-index: -1;
}

.circle {
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 85%;
    margin: 0 auto;
    background: url(头像.jpg) center;
    background-size: 150px;
    border-radius: 50%;
    z-index: 998;
    border: white solid 4px;
}

.name {
    width: 130px;
    height: 30px;
    background-color: transparent;
    position: relative;
    margin: 0 auto;
    bottom: 85%;
    z-index: 999;
    text-align: center;
    font-size: 30px;
    pointer-events: auto;
}

.menu {
    width: 150px;
    z-index: 999;
    position: relative;
    bottom:80%;
    margin:0 auto;
    margin-top:4px;
    font-size:20px;
    text-align: center;
}

.content {
    background: url(简约背景1.jpg);
    margin-left: 303px;
    text-align: center;
    min-height:1000px;
    animation: appear 4s;
}

a:visited{
    color:rgb(78, 184, 219);
}

a:hover{
    opacity: 0.9;
    color:red;
}

.menu:hover{
    background:url(椭圆.png) no-repeat center;
    background-size:150px;
    opacity: 0.5;
}

.object{
    height:48px;
    width:24.5%;
    float:left;
    background:url(卷纸.png) no-repeat;
    background-size: 90% 400px;
    border-right:solid transparent 4px;
    border-bottom:solid transparent 4px;
    font-size:25px;
    transition:3s;
    overflow:hidden;
    text-overflow: ellipsis;

}

#目录1{
    background:url(椭圆.png) no-repeat center;
    background-size:150px;
}

.object:hover{
    height:500px;
}

@keyframes appear{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}